@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>This is a community website that helps players of Dust514 to easily see when there are upcoming Planetary Control battles.</p>
<p>The website is open source and you are free to deploy it to your own servers or to submit modifications. The source code is availble on GitHub <a href="https://github.com/DavidBurela/DustTimers">https://github.com/DavidBurela/DustTimers</a></p>

<h3>Contact</h3>
<p>
    <ul>
        <li><strong>Twitter: </strong> <a href="http://Twitter.com/Xp3ll3d">@Html.Encode("@")Xp3ll3d</a></li>
        <li><strong>EVE Character: </strong> Xp3ll3d</li>
    </ul>
    
</p>

